# Environment and secrets
**/.env
.env.test
**/gcp-key.json
**/service-account.json
deploy/config.source

# Git-related
.git
**/.git

# Node.js/Bun related
**/node_modules
**/bun.lockb
**/bun.lock
**/package-lock.json

# Python/DBT related
*.pyc
**/__pycache__/
**/.python-version
**/dbt_modules/
**/dbt_packages/
**/target/
**/logs/

# OS specific
**/.DS_Store
**/.config/**

# Deployment scripts
deploy_complex.sh
.vscode
archive/
app.log

**/scripts/dbt_deploy.log
**/scripts/deploy.log

# builds
dist/